/*--------------------------------------------------------------
    Import fonts
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap');
/*--------------------------------------------------------------
    Root variables
--------------------------------------------------------------*/
:root {
    /*Pallete*/
    --color-1:#6059f7;
    --color-2: #6592fe;
    --color-3:#5143de;
    --color-4: #04203d;
    --color-5:#424c6d;
    /*White*/
    --white-1: #fff;
    --white-2: #fdfdfd;
    --white-3: #f3f3f3;
    --white-4: #d8d8d8;
    --white-5: #d0d0d0;
    /*Black*/
    --black-1: #333;
    --black-2: #606060;
    --black-3: #777;
    --black-4: #979797;
    --black-5: #9a9a9a;
    /*Link*/
    --link: #4a6df8;
    --link-dark: #1836ad;
    /*Notation*/
    --primary: #5143de;
    --primary-dark: #251f87;
    --secondary: #2d3747;
    --secondary-dark: #1a202c;
    --info: #29cae4;
    --info-dark: #20b8d1;
    --light: #c9d4e3;
    --light-dark: #b8c4d6;
    --success: #00c851;
    --success-dark: #007e33;
    --warning: #ffbb33;
    --warning-dark: #ff8800;
    --danger: #ff4444;
    --danger-dark: #cc0000;
    --default: #ff4444;
}

/*--------------------------------------------------------------
    General
--------------------------------------------------------------*/
* {
    color: var(--black-1);
    font-family: 'Raleway', sans-serif;
}
body {
    background: #fff;
    min-height: 100vh;
}
.home-page-intro {
    height: 68vh !important;
}
@media (max-width: 740px) {
    .home-page-intro {
        height: 40vh !important;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .home-page-intro {
        height: 40vh !important;
    }
}
nav, nav * {
    transition: 0.2s all !important;
}



.hide { 
    max-width: 0 !important;
    max-height: 0 !important;
}
.display-n { display: none !important;}
.display-none { display: none !important;}
.display-b { display: block !important;}
.overflow-h { overflow: hidden !important; }
.shadow-none { box-shadow: none !important; }
.border-none { border: 0 none !important; }
.cursor-p { cursor: pointer !important; }
.cursor-d { cursor: default !important; }
.cursor-na { cursor: not-allowed !important; }
.uns {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.opacity-1:hover { opacity: 0.7 !important;}
.opacity-2:hover { opacity: 0.5 !important;}
.opacity-3:hover { opacity: 0.4 !important;}
.bl { border-left: 1px solid #ddd; }

.alert-fixed {
    position: fixed !important;
    top: 8vh !important;
    right: 1vw !important;
}
/*--------------------------------------------------------------
    Text
--------------------------------------------------------------*/
.h1 { font-size: 3em; }
.h2 { font-size: 2.5em; }
.h3 { font-size: 2em; }
.h4 { font-size: 1.7em; }
.h5 { font-size: 1.34em; }
.h6 { font-size: 1.2em; }
.h7 { font-size: 1.09em; }
.p { font-size: 1.1em; }
.p2 { font-size: .9em; }
label {
    font-size: 1em;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, label {
    font-weight: 400;
    color: var(--black-2);
}
p { 
    font-weight: 400;
}
    /* Links */
.link {
    transition: 0.08s all !important;
    color: var(--link);
    cursor: pointer;
}
.link:hover {
    color: var(--link-dark) !important;
}
.r-link {
    transition: .2s all !important;
    color: var(--black-3) !important;
    cursor: pointer !important;
}
.r-link i {
    color: var(--black-3);
}
.r-link:hover {
    cursor: pointer !important;
    background: rgba(81, 67, 222, .2);
    color: var(--link) !important;
}

.w200 { font-weight: 200 !important; }
.w300 { font-weight: 300 !important; }
.w400 { font-weight: 400 !important; }
.w500 { font-weight: 500 !important; }
.w600 { font-weight: 600 !important; }
.w700 { font-weight: 700 !important; }
.italic {
    font-style: italic !important;
}

/*--------------------------------------------------------------
    Buttons
--------------------------------------------------------------*/
.btn {
    padding: .6em 1.5em !important;
}
.btn i {
    color: inherit !important;
}
    /* Rounded */
.btn-rounded {
    border-radius: 50px !important;
}
    /* Color */
.btn-primary {
    background-color: var(--primary) !important;
    color: white !important;
}
.btn-primary-dark {
    color: var(--white-1) !important;
    background-color: var(--primary-dark) !important;
}
.btn-secondary {
    background-color: var(--secondary) !important;
}
.btn-secondary-dark {
    background-color: var(--secondary-dark) !important;
}
.btn-info {
    background-color: var(--info) !important;
}
.btn-info-dark {
    background-color: var(--info-dark) !important;
}
.btn-light {
    background-color: var(--light) !important;
}
.btn-light-dark {
    background-color: var(--light-dark) !important;
}
.btn-success {
    background-color: var(--success) !important;
}
.btn-success-dark {
    background-color: var(--success-dark) !important;
}
.btn-warning {
    background-color: var(--warning) !important;
}
.btn-warning-dark {
    background-color: var(--warning-dark) !important;
}
.btn-danger {
    background-color: var(--danger) !important;
}
.btn-danger-dark {
    background-color: var(--danger-dark) !important;
}

/*--------------------------------------------------------------
    Form
--------------------------------------------------------------*/
.form-rounded {
    border-radius: 50px !important;
    padding-left: 20px;
    padding-right: 20px;
}

/*--------------------------------------------------------------
    Icons
--------------------------------------------------------------*/
.float-whatsapp {
	position:fixed;
	width: 2em;
	height: 2em;
	bottom: 3vh;
	right: 3vh;
	background-color: var(--success);
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:32px;
    box-shadow: 0 .07em .15em .01em rgba(0,0,0,.5) !important;
    z-index:100;
}
.float-whatsapp-icon {
    color:#fff !important;
	margin-top: .5em !important;
}

/*--------------------------------------------------------------
    Text Color
--------------------------------------------------------------*/
.color1 { color: var(--color-1) !important;}
.color2 { color: var(--color-2) !important;}
.color3 { color: var(--color-3) !important;}
.color4 { color: var(--color-4) !important;}
.color5 { color: var(--color-5) !important;}

.white1 { color: var(--white-1) !important; }
.white2 { color: var(--white-2) !important; }
.white3 { color: var(--white-3) !important; }
.white4 { color: var(--white-4) !important; }
.white5 { color: var(--white-5) !important; }

.black1 { color: var(--black-1) !important; }
.black2 { color: var(--black-2) !important; }
.black3 { color: var(--black-3) !important; }
.black4 { color: var(--black-4) !important; }
.black5 { color: var(--black-5) !important; }

.primary { color: var(--primary) !important; }
.primary-dark { color: var(--primary-dark) !important; }

.secondary { color: var(--secondary) !important; }
.secondary-dark { color: var(--secondary-dark) !important; }

.info { color: var(--info) !important; }
.info-dark { color: var(--info-dark) !important; }

.light { color: var(--light) !important; }
.light-dark { color: var(--light-dark) !important; }

.success { color: var(--success) !important; }
.success-dark { color: var(--success-dark) !important; }

.warning { color: var(--warning) !important; }
.warning-dark { color: var(--warning-dark) !important; }

.danger { color: var(--danger) !important; }
.danger-dark { color: var(--danger-dark) !important; }

/*--------------------------------------------------------------
    Background Colors
--------------------------------------------------------------*/
.bg-color1 { background: var(--color-1) !important;}
.bg-color2 { background: var(--color-2) !important;}
.bg-color3 { background: var(--color-3) !important;}
.bg-color4 { background: var(--color-4) !important;}
.bg-color5 { background: var(--color-5) !important;}

.bg-white1 { background: var(--white-1) !important; }
.bg-white2 { background: var(--white-2) !important; }
.bg-white3 { background: var(--white-3) !important; }
.bg-white4 { background: var(--white-4) !important; }
.bg-white5 { background: var(--white-5) !important; }

.bg-black1 { background: var(--black-1) !important; }
.bg-black2 { background: var(--black-2) !important; }
.bg-black3 { background: var(--black-3) !important; }
.bg-black4 { background: var(--black-4) !important; }
.bg-black5 { background: var(--black-5) !important; }

.bg-primary { background: var(--primary) !important; }
.bg-primary-dark { background: var(--primary-dark) !important; }

.bg-secondary { background: var(--secondary) !important; }
.bg-secondary-dark { background: var(--secondary-dark) !important; }

.bg-info { background: var(--info) !important; }
.bg-info-dark { background: var(--info-dark) !important; }

.bg-light { background: var(--light) !important; }
.bg-light-dark { background: var(--light-dark) !important; }

.bg-success { background: var(--success) !important; }
.bg-success-dark { background: var(--success-dark) !important; }

.bg-warning { background: var(--warning) !important; }
.bg-warning-dark { background: var(--warning-dark) !important; }

.bg-danger { background: var(--danger) !important; }
.bg-danger-dark { background: var(--danger-dark) !important; }

.bg-none { background: none !important; }
.bg-dark1 { background: rgba(81, 67, 222, .03) !important; }
/*--------------------------------------------------------------
    HR Colors
--------------------------------------------------------------*/
.hr-white1 { border-top: .0125rem solid var(--white-1) !important;}
.hr-white2 { border-top: .0125rem solid var(--white-2) !important;}
.hr-white3 { border-top: .0125rem solid var(--white-3) !important;}


/*--------------------------------------------------------------
    Cards
--------------------------------------------------------------*/
.card {
    border-radius: 2px !important;
    border: 0 none !important;
    box-shadow: 0 .07em .125em 0 rgba(0,0,0,.15);
    overflow: hidden !important;
}
.card-dark {
    background: rgba(81, 67, 222, .06) !important;
}
.card-bordered {
    border: 1px solid rgba(81, 67, 222, .2) !important;
    border-radius: 2px !important;
}

.card-success-bottom { border-bottom: 4px solid var(--success) !important; }
.card-warning-bottom { border-bottom: 4px solid var(--warning) !important; }
.card-danger-bottom { border-bottom: 4px solid var(--danger) !important; }

.alert-fixed {
    position: fixed !important;
    top: 4vh !important;
    right: 1vw !important;
    z-index: 10000;
}

/*--------------------------------------------------------------
    <Navbar>
--------------------------------------------------------------*/
.main-navbar {
    background: rgba(27, 29, 33, 0.90) none repeat scroll 0% 0%;
    padding: 18px 0px;
    transition: .2s all !important;
}
@media (max-width: 992px) {
    .main-navbar {
        padding: 14px;
    }
}
.main-navbar-s {
    background: rgba(27, 29, 33, 0.96) none repeat scroll 0% 0%;
}
@media (min-width: 992px) {
    .main-navbar-s {
        padding: 10px 0;
    }
}
.main-navbar .navbar-brand {
    font-weight: 400;
    color: var(--white-1) !important;
}
.main-navbar .nav-link {
    color: #fff;
    margin-left: 1em !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
}
.main-navbar .nav-link:hover {
    color: #3e64ff !important;
}

/*--------------------------------------------------------------
    <Footer>
--------------------------------------------------------------*/
.main-footer {
    background: var(--secondary) !important;
}
.main-footer p {
    color: var(--white-1) !important;
}
.footer-copyright {
    color: var(--white-3) !important;
    background-color: var(--secondary-dark) !important;
}
.footer-copyright a {
    color: var(--link);
}

/*--------------------------------------------------------------
    Welcome Page
--------------------------------------------------------------*/
.home-card {
    background:#2e828b !important;
    box-shadow: 0 .25em .2em 0 rgba(0,0,0,.18) !important;
}
.home-card, .home-card:hover i, .home-card:hover h1 {
    transition: .09s all !important;
}
.home-card:hover {
    background:#424c6d !important;
}
.scroll-card {
    border-top: 0 none !important;
    overflow-y: scroll !important;
    height: 100%;
}
.news-card {
    background: rgba(81, 67, 222, .018) !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    border: 1px solid #eee !important;
}
.news-card, .news-card:hover p, .news-card:hover h2 {
    transition: .18s all !important;
}
.news-card a:hover {
    background: rgba(81, 67, 222, .1) !important;
}
.news-card:hover i, .news-card:hover p, .news-card:hover h2 {
    color: var(--primary-dark) !important;
}
.home-accordion .card-header {
    cursor: pointer;
}
.home-accordion .card-header:hover {
    cursor: pointer;
    background: var(--white-3) !important;
}
.home-news-card {
    min-height: 72vh !important;
}

/*--------------------------------------------------------------
    News Page
--------------------------------------------------------------*/
.news-date {
    font-size: 1em !important;
    font-weight: 600;
}
.new-card {
    background: #fff !important;
}
.new-card:hover {
    background: rgba(230, 230, 230, 0.2) !important;
}
.new-card:active {
    background: rgba(200, 200, 200, 1) !important;
}
@media (min-width: 1200px) {
    .new-card {
        height: 100% !important;
    }
}
.new-parragraph {
    letter-spacing: .04em;
    color: var(--secondary);
    font-size: 1.1em;
    font-weight: 300;
}
.new-parragraph * {
    font-family: 'Raleway', sans-serif !important;
}
.new-parragraph img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto 40px auto !important;
}

/*--------------------------------------------------------------
    About Us Page
--------------------------------------------------------------*/
@media(min-width: 1200px){
    .about-card {
        height: 100% !important;
    }
}


/*--------------------------------------------------------------
    Contact Page
--------------------------------------------------------------*/
.contact-container {
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 15vh 0;
    min-height: 100vh;
}
.contact-card {
    background: #fff;
}
.info-icon {
    font-size: .8em !important;
    transition: 0.1s all !important;
    cursor: pointer !important;
}
.info-icon:hover {
    color: var(--color-2) !important;
    cursor: pointer !important;
}
.info-icon .info-icon-text {
    visibility: hidden;
    width: 15em;
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 13px !important;
    border: 1px solid #eee;
    color: var(--secondary);
    text-align: center;
    border-radius: 18px;
    margin: -7px 0 0 10px;
    padding: 8px 15px !important;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05), 0 3px 3px rgba(0,0,0,0.1);
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.info-icon:hover .info-icon-text {
    visibility: visible;
}
.whatsapp-box {
    position: relative !important;
    margin-top: 18%;
    padding: 27% 0;
    border-left: 1px solid #f0f0f0;
}
.whatsapp-box:hover i {
    color: var(--white-1) !important;
}
/*--------------------------------------------------------------
    Login page
--------------------------------------------------------------*/
.login-top-cont {
    background: white;
    height: 45vh !important;
}
.login-bottom-cont {
    background: #060d1f;
    height: 55vh !important;
}
.login-modal {
    position: absolute;
    top: 5em !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0;
}
.login-logo {
    width: 12em;
    margin: 50px auto 1.5em auto;
}
.login-card {
    box-shadow: 0 .05em .5em .2em rgba(0,0,0,.08) !important;
}


/*--------------------------------------------------------------
    Panel Page
--------------------------------------------------------------*/
main.panel {
    background: #edf2f6 !important;
    min-height: 100vh;
}

/*Menu*/
#panel-menu {
    background: var(--secondary);
    z-index: 10000;
    width: 13vw !important;
}
@media (max-width: 576px) {
    .panel-navbar {
        z-index: 10000;
        background: var(--secondary) !important;
    }
    #panel-menu {
        display: none;
    }
}
@media (min-width: 576px) {
    .panel-navbar {
        display: none !important;
    }
    #panel-menu {
        display: block;
    }
}
@media (max-width: 1200px) {
    #panel-menu {
        width: 40vw !important;
    }
}
@media (max-width: 992px) {
    #panel-menu{
        width: 40vw !important;
    }
}
@media (max-width: 768px) {
    #panel-menu{
        width: 30vw !important;
    }
}
@media (max-width: 576px) {
    #panel-menu{
        width: 100vw !important;
    }
}
#panel-menu h3 {
    font-size: .8em;
    font-weight: 500;
    letter-spacing: .13em;
    color: #bbb !important;
}
#panel-menu .navbar-brand {
    color: var(--white-1) !important;
    text-transform: none !important;
    font-style: normal;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .1em;
    padding: 0 !important;
    margin: 3.15em auto !important;
}
.menuItem, .menuItem i {
    color: var(--white-1);
}
.menuItem {
    display: block !important;
    width: 100% !important;
    cursor: pointer;
    font-weight: 400 !important;
    letter-spacing: .03em;
    font-size: .9em;
    padding: 0.4em .4em;
    transition: 0s all !important;
}
.menuItem:active {
    opacity: 0.6;
}
.menuItem:hover, .menuItem:hover i {
    color: var(--primary);
}
.menuItemActive, .menuItemActive i {
    color: #486792 !important;
}

/*Header*/
.panel-header {
    background: var(--white-1);
}
.panel-header #panel-title {
    letter-spacing: .1em;
    font-size: 1.2em;
    text-transform: uppercase;
    color: var(--black-2);
    font-weight: 500;
}

/*Content*/
.panel-content {
    min-height: 100vh;
}
.panelItem {
    display: none;
}

/*Hidden*/
.area-tab {
    display: none;
}

.accordion * {
    transition: .2s all !important;
}


/*--------------------------------------------------------------
    Components
--------------------------------------------------------------*/
/*Table button group*/
.table-button-group {
    margin-right: auto;
    padding: 0 0;
}
.btn-crud {
    box-shadow: none;
    background-color: #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box !important;
}
.btn-crud:hover {
    background: #ccc;
    box-shadow: none !important;
}
.table-button-group .table-button {
    display: inline-block;
    padding: .2em .4em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    background-color: #eee;
}
.table-button-group .table-button:hover {
    background: #ddd;
}
.table-button-group .table-button i, .btn-crud i {
    color: var(--black-2);
}
